@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
  color: white;
  font-family: "Poppins";
}
:root {
  --dard-brown: #1c1816;
  --light-brown: #48413e;
  --color-red: #e4002b;
}
/* Top Bar Component */
.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}
/* Header Components */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  gap: 1rem;
}
.header .header-inner {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .btn-header {
  padding: 0.5rem 0.5rem;
  border-radius: 50rem;
  background-color: var(--dard-brown);
}
.header .btn-header button {
  background-color: var(--light-brown);
  border-radius: 10rem;
}
.header .select-location-header {
  padding: 0.3rem 0.3rem;
  border-radius: 50rem;
  background-color: var(--dard-brown);
}
.header .select-location-header button {
  background-color: var(--dark-brown);
  border-radius: 10rem;
  color: white;
  font-weight: bold;
}
.header .select-location-header button svg {
  color: var(--color-red);
}
.header .regLogBtn {
  background-color: var(--color-red);
  padding: 15px 15px;
  font-size: 0.875rem;
  border-radius: 8px;
}
.header .regLogBtn:hover {
  background-color: var(--color-red);
}
#bucket-btn {
  border: 2px solid white;
  color: white;
  font-weight: bolder;
  height: 60px;
  min-width: 50px;
}

/* Map Component */
.map-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
}

.google-map {
  width: 100%;
  height: 60vh;
}

.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 4rem;
}

.pin-text {
  font-size: 1.3em;
}

@media screen and (min-width: 799px) {
  .google-map {
    height: 80vh;
  }

  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .pin {
    width: 15vw;
  }

  .pin-icon {
    font-size: 10vw;
  }
}
/* Modal Component */
#modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#modal-modal-title {
  font-weight: bold;
}
.modal-search-loc {
  cursor: pointer;
}
/* Drawer Component */
.drawer {
  border-right: 1px solid var(--light-brown);
  padding: 0 1rem;
}
/* Media Queries */
@media (max-width: 909px) {
  .header .regLogBtn {
    padding: 10px 10px;
    font-size: 0.575rem;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 2rem 0.5rem;
  }
  .header .btn-header {
    display: none;
  }
  .header .select-location-header button {
    padding: 0.2rem 0.2rem;
    font-size: 8px;
  }
  #bucket-btn {
    height: 40px;
  }
  .logo img {
    width: 40px;
  }
  #modal {
    font-size: 13px;
  }
  #modal-modal-title {
    font-size: 18px;
  }
}
@media (max-width: 464px) {
  .header .header-inner {
    flex-direction: column;
    align-items: flex-start;
  }
}
